# Delphi output
__history
_recovery
Win32
Win64
*.res
*.exe
*.local
*.identcache
# https://docwiki.embarcadero.com/RADStudio/Sydney/en/API_(*.rsm)
*.rsm

# CGE tools output
castle-engine-output

# backups
*~
*.blend?
*.blend??